################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/7hFlevel/bin/Debug/Kernel Strings
/7hFlevel/bin/Debug/PC/Chunks
/7hFlevel/bin/Debug/PC/Input File
/7hFlevel/bin/Debug/PC/Output File
/7hFlevel/bin/Debug/PSX/FIELD
/7hFlevel/bin/Debug/PSX/Output
/7hFlevel/bin/Debug/PSX
